@model WebApp.Models.product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/_Shared/_DetailsView.cshtml";
}

<h4>Product Details</h4>
<hr />

<div class="input-items">
    @Html.LabelFor(model => model.brand.brand_name,
   htmlAttributes: new { @class = "control-label col-md-2" })
</div>

<div class="input-items">
    @Html.TextBoxFor(model => model.brand.brand_name, null,
   new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
</div>

<div class="input-items">
    @Html.LabelFor(model => model.category.category_name,
   htmlAttributes: new { @class = "control-label col-md-2" })
</div>

<div class="input-items">
    @Html.TextBoxFor(model => model.category.category_name, null,
   new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
</div>

<div class="input-items">
    @Html.LabelFor(model => model.product_name,
   htmlAttributes: new { @class = "control-label col-md-2" })
</div>

<div class="input-items">
    @Html.TextBoxFor(model => model.product_name, null,
   new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
</div>

<div class="input-items">
    @Html.LabelFor(model => model.model_year,
   htmlAttributes: new { @class = "control-label col-md-2" })
</div>

<div class="input-items">
    @Html.TextBoxFor(model => model.model_year, null,
   new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
</div>

<div class="input-items">
    @Html.LabelFor(model => model.list_price,
   htmlAttributes: new { @class = "control-label col-md-2" })
</div>

<div class="input-items">
    @Html.TextBoxFor(model => model.list_price, null,
   new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
</div>

<div class="input-items">
    @Html.LabelFor(model => model.image,
   htmlAttributes: new { @class = "control-label col-md-2" })
</div>

<div class="input-items">
    @Html.TextBoxFor(model => model.image, null,
   new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
</div>

<div class="row">
    <div class="input-items col-1">
        @Html.ActionLink("Edit", "Edit", new { id = Model.product_id },
       new { @class = "btn btn-default border" })
    </div>
    <div class="input-items col-2">
        @Html.ActionLink("Back to List", "Index", null,
       new { @class = "btn btn-default border" })
    </div>
</div>