@model IEnumerable<WebApp.Models.brand>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/_Shared/_IndexLayout.cshtml";
}

@using (Html.BeginForm("Delete", "Brands", FormMethod.Post))
{
    @section title {Brand}

    @section fieldName
{
        <th>ID</th>
        <th>Name</th>
    }

    <!-- RenderBody -->
    foreach (var item in Model)
    {
        <tr>
            <td style="width: 50px">
                <span class="custom-checkbox">
                    <input type="checkbox"
                           id="ids"
                           name="ids"
                           value="@item.brand_id">
                    <label for="checkbox1"></label>
                </span>
            </td>
            <td style="width: 50px">
                @Html.DisplayFor(modelItem => item.brand_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.brand_name)
            </td>
            <td>
                <a href="@Url.Action("Edit", "Customers",
        new { id = item.brand_id })">
                    <i class='bx bxs-edit-alt float-end fs-4 me-1 ms-1'></i>
                </a>
                <a href="@Url.Action("Details", "Customers",
        new { id = item.brand_id })">
                    <i class='bx bx-detail float-end fs-4 me-1 ms-1'></i>
                </a>
            </td>
        </tr>
        <input type="submit" value="" id="submit_delete" hidden />
    }
}