@model PagedList.IPagedList<WebApp.Models.product>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Home/_HomeLayout.cshtml";
}


<section class="bg-light container border" style="border-radius: 20px; margin: 20px auto 10px auto">
    <div class="text-center container py-5">
        <h4 class="mt-4 mb-5 border border-3 p-3 bg-white"
            style="border-radius: 20px; margin-left: 20vw; margin-right: 20vw">
            @using (var ctx = new WebApp.Models.BikeStoreDbContext())
            {
                WebApp.Models.category c = ctx.categories.Find(Session["category_id"]);
                <strong>@c.category_name</strong>
            }
        </h4>

        <div class="row">
            @foreach (WebApp.Models.product pro in Model.ToList())
            {
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                        <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                             data-mdb-ripple-color="light">
                            <img src="https://xedap.vn/wp-content/uploads/2021/09/2131390009-850-2.jpg"
                                 class="w-100" />
                            <a href="#!">
                                <div class="mask">
                                    <div class="d-flex justify-content-start align-items-end h-100">
                                        <h5><span class="badge bg-primary ms-2">New</span></h5>
                                    </div>
                                </div>
                                <div class="hover-overlay">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </div>
                            </a>
                        </div>
                        <div class="card-body">
                            <a href="" class="text-reset">
                                <h5 class="card-title mb-3">@pro.product_name</h5>
                            </a>
                            <a href="" class="text-reset">
                                <p>@pro.category.category_name</p>
                            </a>
                            <h6 class="mb-3">@pro.list_price$</h6>
                        </div>
                    </div>
                </div>
            }
        </div>

        <br />
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Category",
            new { category_id = Session["category_id"], page = page }))
    </div>
</section>


