<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("style", required: false)
    <script src="https://kit.fontawesome.com/0cde1f38e8.js" crossorigin="anonymous"></script>
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</body>
</html>