@model IEnumerable<WebApp.Models.staff>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/_Shared/_IndexLayout.cshtml";
}

@using (Html.BeginForm("Delete", "Staffs", FormMethod.Post))
{
    @section title {Staff}

    @section fieldName
{
        <th>ID</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
    }

    <!-- RenderBody -->
    foreach (var item in Model)
    {
        <tr>
            <td style="width: 50px">
                <span class="custom-checkbox">
                    <input type="checkbox"
                           id="ids"
                           name="ids"
                           value="@item.staff_id">
                    <label for="checkbox1"></label>
                </span>
            </td>
            <td style="width: 50px">
                @Html.DisplayFor(modelItem => item.staff_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.first_name)
                @Html.DisplayFor(modelItem => item.last_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                <a href="@Url.Action("Edit", "Staffs",
        new { id = item.staff_id })">
                    <i class='bx bxs-edit-alt float-end fs-4 me-1 ms-1'></i>
                </a>
                <a href="@Url.Action("Details", "Staffs",
        new { id = item.staff_id })">
                    <i class='bx bx-detail float-end fs-4 me-1 ms-1'></i>
                </a>
            </td>
        </tr>
    }
    <input type="submit" value="" id="submit_delete" hidden />
}
